@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.containerCard{
    /* width: 250px; */
    /* height: 350px; */
    /* border-width: 1;
    border-style: solid; */
    margin: 15px
}

/* .image{
    width: auto;
    height: 18rem;
} */

.title {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;;
}

.card {
    border-width: none;
}

.image{
    transition: transform .2s;
}

.image:hover{
    transform: scale(1.1);
    border-radius: 1rem;
    border-color: red;
}